@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css');

.wrapper {
    background: pink;
    height: 100vh;
  }
  
  .box {
    background-color: white;
  }
  
  #text {
    font-size: 18px;
  }
  
  .fa-quote-left {
    opacity: 0.8;
  }